
header {
  background: rgb(255,228,225);
  padding: 12px;
}

header ul {
  list-style-type: none;
}

header li {
  display: inline-block;
  border: 1px solid #ffffff;
}

header a {
  text-decoration: none;
  color : #ffffff;
  padding: 12px;
  display: block;
  rgb(56, 20, 38)
}



.hero {
  background: rgb(266, 289, 305) url('images/aesop.jpg') top center no-repeat;
  color : rgb(100,100,100);
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
}


section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 90vh;
  padding: 42px;
}


section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 90vh;
  padding: 42px;
}


.content {
  flex-basis: 480px;
}

.illustration {
  flex-basis: 480px;
}

.illustration img {
  width: 100%;
}


body{margin-left: 20px}
body {margin-right: 20px}

h1 {margin-top: 70px}
h1{margin-left: 20px}
h1 {margin-right: 20px}
h1 {color: rgb(100, 100, 100); }
section {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 90vh;
  padding: 42px;
}

h2 {margin-top: 70px}
h2{margin-left: 20px}
h2 {margin-right: 20px}
h2 {color: rgb(100, 100, 100); }


h3 {margin-top: 80px}
h3{margin-left: 20px}
h3 {margin-right: 20px}
h3{color: rgb(100, 100, 100); }

h5 {color: rgb(100, 100, 100); }

.odd {
  background: rgb(245,245,245);
}

.even {
  background: rgb(240,248,255);
}



.image-block {
  max-width: 640px;
  border: 12px solid #000;
}

.image-block img {
  width : 100%;
display:block;
}

figcaption {
  font-family: 'Fahkwang', serif;
  font-style: italic;

}

footer {
  min-height: 600px;
  background: #000;
  color : #fff;
}
